# Compiled class files
*.class

# Log files
*.log
logs/

# Package Files
target/
*.jar
*.war
*.ear

# IDE specific files
.idea/
.vscode/
*.iws
*.iml
.classpath
.project
.settings/

# OS specific files
.DS_Store
Thumbs.db
.env

# Maven
.mvn/
mvnw
mvnw.cmd


target/
*.class

